ul {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  width: 300px;
  margin: 0 auto;
}


.addButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  width: 300px;
  margin: 0 auto;
}

.editDeleteCancelButton{
  margin: 5px;
  background-color: #ccc;
  width: 50px;
  height: 30px;
}

.distance {
  margin: 100px;
}